*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

/* HEADER/FOOTER */
.about-page-content {
    margin: 0;
    position: relative;
    padding: 0 0 170px;
}

/* Add or update the CSS in your existing file */
.user-profile {
    display: flex;
    flex-direction: column; /* Adjust the flex direction to column */
    align-items: center;
    text-align: center; /* Center the text within the container */
}

.user-profile img {
    width: 30px; /* Adjust the width to your preference */
    height: 30px; /* Adjust the height to your preference */
    border-radius: 50%;
    margin-bottom: 4px; /* Adjust the margin to create space between the icon and username */
}

.user-profile span {
    font-weight: bold;
    font-size: 14px; /* Adjust the font size to your preference */
    color: #333; /* Adjust the color to your preference */
}
/*POP UP*/
.popup {
    display: none;
    position: fixed;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
}

.popup-content {
    padding: 20px;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup ul li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center; /* Center the text */
}

.popup ul li:last-child {
    border-bottom: none;
}

.about-section{
    background-size: 55%;
    background: #fdfdfd url(../images/logo.png) no-repeat left;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}



@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}