
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: -webkit-linear-gradient(right, #ad27f0, #A437DB, #9840c4, #a85dce);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 700px; /* Adjust the container width */
    width: 100%;
    height: 120vh;
    margin-top: 100px;
    overflow: auto;

}
.logo{
    background-color: #a85dce;
    padding: 10px;
    text-align: center;
    max-width: 80%; /* Adjust the maximum width of the logo container */
    margin: 0 auto;
}

.logo img{
    max-width: 100%; /* This will ensure the image doesn't exceed its container */
    height: auto;
}

.invoice {
    padding: 20px;
    text-align: left;
}

.payment {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.product {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.product img {
    max-width: 100px;
}

.totals {
    font-size: 13px;
}

#redirectModal {
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: peru;
    color: black;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


