@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

.container {
    display: flex;
    padding: 25px;
    min-height: 100vh;
}


.container form {
    margin-top: 100px;
    padding: 10px;
    width: 80%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 auto;
}

.container form .row .col .title {
    font-size: 20px;
    color: #A437DB;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputBox {
    margin: 10px 0;
}

.container form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
    color: #555;
}

.container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #A437DB;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus {
    border: 1px solid #802AB3;
}

.container form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputBox {
    margin-top: 5px;
}

.container form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #A437DB);
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #A437DB;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #802AB3;
}

.container form .row .col .inputBox input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    top: 2px;
}

.order-summary-box {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    height: 50%;
}

#order-summary-container div {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

#order-summary-container span {
    white-space: nowrap;
    margin-right: 10px;
}

#order-summary-container {
    margin-bottom: 15px;
}

#total-element {
    margin-top: 120px;
    font-weight: bold;
    font-size: 24px;
}

#section2 {
    display: none;
}

#section2 h3.title {
    font-size: 20px;
    color: #A437DB;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-top: 20px;
}

#section2 .inputBox {
    margin: 10px 0;
}

#section2 .inputBox label {
    margin-bottom: 10px;
    display: block;
    color: #555;
}

#section2 .inputBox input {
    width: 100%;
    border: 1px solid #A437DB;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

#section2 .inputBox input:focus {
    border: 1px solid #802AB3;
}

#section2 .flex {
    display: flex;
    gap: 15px;
}

#section2 .flex .inputBox {
    margin-top: 5px;
}

#section2 .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #A437DB);
}

#section2 .cards-accepted {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#section2 .cards-accepted img {
    max-height: 50px;
}

.warning {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
