@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:ital,wght@0,100;0,300;0,400;1,200&display=swap');
body {
  background: -webkit-linear-gradient(right, #ad27f0, #A437DB, #9840c4, #a85dce);
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  background: #fff;
  width: 900px;
  height: 700px;
  position: relative;
  margin: 10% auto 80px;
  box-shadow: 6px 5px 20px rgba(23, 0, 0, 0.5);
  min-height: 400px;
  overflow-y: auto;
}


.leftbox {
  margin-top: 30px;
  float: left;
  top: 5%;
  left: 5%;
  position: absolute;
  width: 25%;
  height: 470px;
  box-shadow: 3px 3px 10px #A437DB;
  font-family: Arial, sans-serif;
  
}

nav a {
  list-style: none;
  padding: 35px;
  color: #A437DB;
  font-size: 1.1em;
  display: block;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #A437DB;
  transform: scale(1.2);
  cursor: pointer;
}

nav a:first-child {
  margin-top: 7px;
}

.active {
  color: #390354;
  font-weight: bold;

}

.rightbox {
  float: right;
  width: 65%;
  height: 100%;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    color: #d589fa;
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 35px;
    
}
.settings-content {
  position: absolute;
  width: 70%;
}
nav a {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 20%;
  margin-top: 25px;
  padding-top: 20px;

}
active {
  color: #390354;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
}
  
  
button {
  background-color: #A437DB;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
  
button:hover {
  background-color: #9840c4;
}

.home-button {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.home-button button {
  font-size: 20px;
  padding: 15px 30px;
  display: block;
  margin-left: 700px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.modal-content {
  text-align: center;
}

