.welcome-page-content {
    margin: 0;
    position: relative;
    padding: 0 0 170px;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url("../images/1.png");
    background-size: cover;
    background-position: center;
}

section.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 40px;
}

.main h1 {
    font-size: 40px;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    border: 5px solid #A437DB;
    border-style: outset;
    border-radius: 10px;
     
}

section.index-body {
    margin-top: 800px;
}

section.index-body div.main_tag {
    width: 500px;
    height: auto;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 350px;
    position: absolute;
    bottom: 30px;
    left: 90px;
    padding: 20px; /* Add padding for content inside the box */
}

section.index-body div.main_tag p {
    line-height: 30px;
    font-size: 26px;
    font-family: "Comic Sans MS",cursive;
    text-align: center;
    z-index: 1;
}

.wrapper {
    overflow: hidden;
    max-width: 330px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    float: right;
    margin-top: -600px;
    margin-right: 100px;
    margin-bottom: 100px;
    z-index: 99;
}

.wrapper .title-text {
    display: flex;
    width: 200%;
    z-index: 99;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 99;
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: -webkit-linear-gradient(right, #ad27f0, #A437DB, #9840c4, #a85dce);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus {
    border-color: #A437DB;
}

.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #A437DB;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #A437DB;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #ad27f0, #A437DB, #9840c4, #a85dce);
    border-radius: 15px;
    transition: all 0.4s ease;
;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  /* ----*/
.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    margin-top: -230px;
}
  
.button {
    border-radius: 4px;
    background: -webkit-linear-gradient(right, #ad27f0, #A437DB, #9840c4, #a85dce);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    padding: 10px;
    margin: 10px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none; 
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    opacity: 1;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.icons  div:hover {
    color: #A437DB;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Style for the modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* White background */
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

/* Style for the welcome message */
#welcomeMessage {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

/* Style for the Start Reading button */
button#start-reading{
    padding: 15px 30px;
    background-color: #ff6f61; /* Coral */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

/* Style for the Start Reading button hover effect */
button#start-reading:hover {
    background-color: #ff504e; /* Darker Coral */
}

/* Add or update the CSS in your existing file */
.user-profile {
    display: flex;
    flex-direction: column; /* Adjust the flex direction to column */
    align-items: center;
    text-align: center; /* Center the text within the container */
}

.user-profile img {
    width: 30px; /* Adjust the width to your preference */
    height: 30px; /* Adjust the height to your preference */
    border-radius: 50%;
    margin-bottom: 4px; /* Adjust the margin to create space between the icon and username */
}

.user-profile span {
    font-weight: bold;
    font-size: 14px; /* Adjust the font size to your preference */
    color: #333; /* Adjust the color to your preference */
}
/*POP UP*/
.popup {
    display: none;
    position: fixed;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
}

.popup-content {
    padding: 20px;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup ul li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center; /* Center the text */
}

.popup ul li:last-child {
    border-bottom: none;
}





