<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHaven</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
</head>
<body>
<div class="index-page-content">
    <section class="half-view">
        <header th:replace="~{layout::header}"></header>
        <div class="main">
            <div class="main_tag">
                <div th:if="${session['loggedIn'] != null}">
                    <h1 class="animate-character">
                        Hey there, <span th:text="${session['username']}"></span>!
                    </h1>
                    <p class="welcome-message">
                        Welcome back to your literary sanctuary at BookHaven.
                        Explore the magic of books tailored just for you.
                    </p>
                </div>
                <div th:unless="${session['loggedIn'] != null}">
                    <h1 class="animate-character">
                        WELCOME TO<br><span>BOOKHAVEN</span>
                    </h1>
                    <p class="welcome-message">
                        Explore the wonders of literature and imagination at BookHaven.
                        Our extensive collection spans various genres,
                        inviting you to embark on a journey through the realms of knowledge, adventure, and creativity.
                    </p>
                    <p><a th:href="@{/#login-form}">Login/Signup</a> to begin.</p>
                </div>
            </div>
        </div>
    </section>

    <div id="banner-carousel" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img th:src="@{/images/shakespeare_banner.jpeg}" alt="Shakespeare book img"></div>
            <div class="swiper-slide"><img th:src="@{/images/50off_banner.jpeg}" alt="50% off img"></div>
            <div class="swiper-slide"><img th:src="@{/images/crazy_rich_banner.webp}" alt="Crazy Rich Asians book series img"></div>
            <div class="swiper-slide"><img th:src="@{/images/pjackson_banner.jpeg}" alt="Percy Jackson new book img"></div>
            <div class="swiper-slide"><img th:src="@{/images/sking_banner.jpeg}" alt="Stephen King new book img"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="featured_books">
        <h3 th:if="${session['loggedIn'] != null}">Your perfect kickoff point, just for you!</h3>
        <h3 th:unless="${session['loggedIn'] != null}">We Offer Diverse categories</h3>
        <div class="featured_book_box">
            <div class="featured_book_card" onclick="navigateTo('/catalogue/adventure')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book1.jpg}" alt="Adventure Book">
                </div>
                <div class="featured_book_tag">
                    <h2>Treasure Island</h2>
                    <p class="writer">Robert Louis Stevenson</p>
                    <div class="categories">Adventure</div>
                    <p class="book_price">$33.12</p>
                    <a onclick="navigateTo('/catalogue/adventure')" class="f_btn">Click for More</a>
                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/fantasy')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book2.jpg}" alt="Fantasy Book">
                </div>
                <div class="featured_book_tag">
                    <h2>Peter Pan</h2>
                    <p class="writer">James Matthew Barrie</p>
                    <div class="categories">Fantasy</div>
                    <p class="book_price">$12.15</p>
                    <a onclick="navigateTo('/catalogue/fantasy')" class="f_btn">Click for More</a>
                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/fiction')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book3.jpg}" alt="Fiction Book">
                </div>
                <div class="featured_book_tag">
                    <h2>Taras Bulba</h2>
                    <p class="writer">Nikolái V. Gogol</p>
                    <div class="categories">Fiction</div>
                    <p class="book_price">$13.13</p>
                    <a onclick="navigateTo('/catalogue/fiction')" class="f_btn">Click for More</a>
                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/biography')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book4.jpg}" alt="Biography Book">
                </div>
                <div class="featured_book_tag">
                    <h2>Eat, Pray, Love</h2>
                    <p class="writer">Elizabeth Gilbert</p>
                    <div class="categories">Biography</div>
                    <p class="book_price">$20.41</p>
                    <a onclick="navigateTo('/catalogue/biography')" class="f_btn">Click for More</a>

                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/romance')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book5.jpg}" alt="Romance Book">
                </div>
                <div class="featured_book_tag">
                    <h2>Emma</h2>
                    <p class="writer">Jane Austen</p>
                    <div class="categories">Romance</div>
                    <p class="book_price">$35.80</p>
                    <a onclick="navigateTo('/catalogue/romance')" class="f_btn">Click for More</a>
                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/cooking')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book6.jpg}" alt="Cooking Book">
                </div>
                <div class="featured_book_tag">
                    <h2>Industrial Chocolate Manufacture and Use</h2>
                    <p class="writer">Steve T. Beckett</p>
                    <div class="categories">Cooking</div>
                    <p class="book_price">$49.96</p>
                    <a onclick="navigateTo('/catalogue/cooking')" class="f_btn">Click for More</a>

                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/comedy')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book7.jpg}" alt="Comedy Book">
                </div>
                <div class="featured_book_tag">
                    <h2>The Taming of the Shrew</h2>
                    <p class="writer">William Shakespeare</p>
                    <div class="categories">Comedy</div>
                    <p class="book_price">$23.01</p>
                    <a onclick="navigateTo('/catalogue/comedy')" class="f_btn">Click for More</a>
                </div>
            </div>
            <div class="featured_book_card" onclick="navigateTo('/catalogue/history')">
                <div class="featured_book_img">
                    <img th:src="@{/images/book8.jpg}" alt="History Book">
                </div>
                <div class="featured_book_tag">
                    <h2>The Great Transformation</h2>
                    <p class="writer">Karl Polanyi</p>
                    <div class="categories">History</div>
                    <p class="book_price">$29.91</p>
                    <a onclick="navigateTo('/catalogue/history')" class="f_btn">Click for More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="services_box">
            <div class="services_card">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>Fast Delivery</h3>
                <p>
                    Swift, secure, and reliable shipping solutions for your peace of mind.
                </p>
            </div>
            <div class="services_card">
                <i class="fa-solid fa-headset"></i>
                <h3>24 x 7 Services</h3>
                <p>
                    Your literary haven open round-the-clock, offering books and support whenever you need them
                </p>
            </div>
            <div class="services_card">
                <i class="fa-solid fa-tag"></i>
                <h3>Best Deal</h3>
                <p>
                    Unbeatable offers and discounts on your favorite books, ensuring you get the most value for your literary treasures.
                </p>
            </div>
            <div class="services_card">
                <i class="fa-solid fa-lock"></i>
                <h3>Secure Payment</h3>
                <p>
                    We guarantee a secure and protected payment process for stress-free book purchases.
                </p>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h1>Reviews</h1>
        <div class="review_box">
            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img th:src="@{/images/woman.png}" alt="Nora img">
                </div>
                <div class="card">
                    <h2>Nora</h2>
                    <p>BookHaven offers an amazing variety of books with quick delivery. A must-try for all book lovers!
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img th:src="@{/images/woman1.jpg}" alt="Bisa img">
                </div>
                <div class="card">
                    <h2>Bisa</h2>
                    <p>As an avid reader, I'm impressed by BookHaven's commitment to customer satisfaction. Their customer service team is incredibly helpful and responsive.
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img th:src="@{/images/man.png}" alt="David img">
                </div>
                <div class="card">
                    <h2>David</h2>
                    <p>BookHaven feels like a cozy book club that delivers! Their personal touch and community events make buying books a warm, welcoming experience
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="review_card">
                <i class="fa-solid fa-quote-right"></i>
                <div class="card_top">
                    <img th:src="@{/images/man1.png}" alt="John img">
                </div>
                <div class="card">
                    <h2>John </h2>
                    <p>I stumbled upon BookHaven during a quest for a rare book, and it's been my literary refuge ever since! Their wide collection and friendly service make book hunting a joy.
                    </p>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <footer th:replace="~{layout::footer}"></footer>
    </section>
</div>
<div class="overlay" id="overlay"></div>
<script>
    const swiper = new Swiper('#banner-carousel',{
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        centeredSlides: true,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    function toggleCartPopup() {
        const cartPopup = document.getElementById('cart-popup');
        const overlay = document.getElementById('overlay');
        if (cartPopup.style.width === '0px' || cartPopup.style.width === '') {
            // Show the cart pop-up bar
            cartPopup.style.width = '350px';
            overlay.style.display = 'block';
        } else {
            // Hide the cart pop-up bar
            const cartPopup = document.getElementById('cart-popup');
            const overlay = document.getElementById('overlay'); // Get the overlay element
            cartPopup.style.width = '0';
            overlay.style.display = 'none';
        }
    }

    function hideCartPopup() {
        console.log('hideCartPopup() function is triggered');
        const cartPopup = document.getElementById('cart-popup');
        const overlay = document.getElementById('overlay'); // Get the overlay element
        cartPopup.style.width = '0';
        overlay.style.display = 'none'; // Hide the overlay
    }

    function checkout() {
        console.log('checkout() function is triggered');
        alert('Checkout clicked!');
    }

    function toggleUserProfilePopup(element) {
        const popup = document.getElementById('userProfilePopup');
        popup.style.display = (popup.style.display === 'block') ? 'none' : 'block';

        if (popup.style.display === 'block') {
            positionPopup(element, popup);
        }
    }

    function positionPopup(triggerElement, popupElement) {
        const triggerRect = triggerElement.getBoundingClientRect();

        popupElement.style.top = `${triggerRect.bottom}px`;
        popupElement.style.left = `${triggerRect.left}px`;
    }


    function navigateTo(url) {
        // Handle navigation logic, e.g., redirect to the specified URL
        window.location.href = url;
    }

    function logout() {
        window.location.href = '/logout';
    }

    function showSubscribeNotification(message) {
        const inputValue = document.getElementById('subscribe-input').value.trim();

        if (inputValue !== '') {
            const notification = document.createElement('div');
            notification.className = 'notification';
            notification.textContent = message;

            document.body.appendChild(notification);

            setTimeout(() => {
                document.body.removeChild(notification);
            }, 2500);
        }
    }

</script>
</body>
</html>

